.card-wrapper {
    height: 400px;
    width: 300px;
    perspective: 1000px;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-wrapper:hover .content {
    transform: rotateY(180deg);
    transition: 1s;
}

.face-front,
.face-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: black;
    backface-visibility: hidden;
}

.face-back {
    transform: rotateY(180deg);
}

.controls-top i {
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #1168db;
    color: #fff;
}

.card-program {
    display: float;
    float: left
}

#program {
    background-color: #F3F5FA;
}